p {
  font-size: 5rem;
  height: 10.9375rem;
  width: 22.6875rem;
  left: 12.8125rem;
  top: 44.0625rem;
  border: 0.2rem solid;
  border-radius: 2rem;
  padding: 2rem;
  color: black;
  font-family: Wire One;
  background-color: #fbe8a3;
}
