html,
body,
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 62.5%;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  background-color: #fff0b9;
}
h1 {
  background-color: #fbe8a3;
  border: 0.2rem solid;
  border-radius: 2rem;
  padding: 2rem;
  margin: auto;
  font-family: Wire One;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0rem;
  text-align: center;
  width: 50rem;
  margin-top: 3rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
