html,
body,
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 62.5%;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  font-family: Wire One;
  font-weight: 1000;
  height: 4rem;
}
.footer li {
  margin-left: 3rem;
}
.navbar {
  z-index: 1;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 13rem;
}
.navbar:hover {
  cursor: pointer;
}

li {
  font-size: 1500%;
  float: left;
  display: inline;
}
a {
  text-decoration: none;
  color: var(--primary-text);
  font-family: Wire One;
  font-weight: 1000;
  display: block;
  padding-left: 8rem;
  padding-top: 3rem;
}
li a:hover {
  color: var(--hovernavtext);
}
p {
  font-size: 4rem;
  font-family: Wire One;
  font-weight: 800;
}
#button1 {
  font-size: 11rem;
  transform: translateY(-2rem);
}
h1 {
  border: 0.2rem solid;
  border-radius: 2rem;
  padding: 2rem;
  margin: auto;
  font-family: Wire One;
  font-size: 6rem;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0rem;
  text-align: center;
  width: 50rem;
  transform: translateY(3rem);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-bottom: 6rem;
}
section {
  min-height: 125rem;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.imgcontainerleft {
  margin-left: 5rem;
  width: 25%;
  display: flex;
  flex-direction: column;
}
.imgcontainerright {
  margin-right: 7.5rem;
  width: 25%;
  display: flex;
  flex-direction: column;
}
.imgcontainerleft img {
  margin-top: 2rem;
  border-radius: 2.5rem;
  height: 30rem;
  width: 110%;
}
.imgcontainerright img {
  margin-top: 2rem;
  border-radius: 2.5rem;
  height: 30rem;
  width: 110%;
}
.menutext {
  text-align: center;
  width: 50%;
  transform: translateY(3rem);
}
.menutext p {
  padding-bottom: 3rem;
  transform: translateY(-1rem);
}
.parallax {
  background-attachment: fixed;
  background-position: center;
}

/*
---------------------------------------------------------------------------------------------------------------------------------------
theme switcher
---------------------------------------------------------------------------------------------------------------------------------------
*/

#themeswitcher {
  background-color: var(--h1bcolor);
  font-size: 6rem;
  font-family: Wire One;
  font-weight: 1000;
  border-radius: 2.5rem;
  padding: 1rem;
  float: right;
  margin-right: 5rem;
  margin-top: 2rem;
}
.btn:hover {
  cursor: pointer;
  color: var(--navcolor);
}
:root {
  --t1-navbar: #c3a29e;
  --t2-navbar: #8f95d3;
  --peach: #fff4e9;
  --beige: #e8dbc5;
  --black: black;
  --light-green: #dbb1bc;
  --dark-green: #d3c4e3;
  --primary-nav: var(--t1-navbar);
  --primary-bg1: var(--peach);
  --primary-bg2: var(--beige);
  --primary-hovernavtext: var(--peach);
  --secondary-nav: var(--t2-navbar);
  --secondary-bg1: var(--light-green);
  --secondary-bg2: var(--dark-green);
  --secondary-hovernavtext: var(--light-green);
}
.primary-theme {
  --navcolor: var(--primary-nav);
  --hovernavtext: var(--primary-hovernavtext);
  --h1acolor: var(--primary-bg1);
  --h1bcolor: var(--primary-bg2);
  --navcolor: var(--primary-nav);
  --bg1: var(--primary-bg1);
  --bg2: var(--primary-bg2);
}
.secondary-theme {
  --navcolor: var(--secondary-nav);
  --hovernavtext: var(--secondary-hovernavtext);
  --h1acolor: var(--secondary-bg1);
  --h1bcolor: var(--secondary-bg2);
  --navcolor: var(--secondary-nav);
  --bg1: var(--secondary-bg1);
  --bg2: var(--secondary-bg2);
}
.navbar,
.footer {
  background-color: var(--navcolor);
}

#sec-1,
#sec-3,
#sec-5,
#sec-7,
.h1a {
  background-color: var(--bg1);
}
#sec-2,
#sec-4,
#sec-6,
.h1b {
  background-color: var(--bg2);
}

/*
--------------------------------------------------------------------------------------------------------------------------------------- 
other shit
---------------------------------------------------------------------------------------------------------------------------------------
*/

#sec-1 p {
  font-size: 4rem;
  font-family: Wire One;
  font-weight: 800;
  text-align: center;
  margin: 0.5rem auto;
  margin-bottom: -0.5rem;
  padding-top: 2rem;
  width: 50%;
}

.top {
  position: relative;
  top: -13rem;
}
#menutitle {
  font-size: 16rem;
  font-family: Wire One;
  background-color: var(--h1acolor);
  border: solid;
  width: 16%;
  text-align: center;
  border-radius: 2.5rem;
  margin: auto;
  height: 18rem;
  transform: translateY(20rem);
}
#menuimg {
  background-image: url(https://www.carminesnyc.com/assets/uploads/general/home-about-frames.png);
  min-height: 60rem;
}
#carminesimg {
  margin-top: 13rem;
  background-image: url(https://www.carminesnyc.com/assets/uploads/general/carmines-general-og.jpg);
  min-height: 100rem;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 650px) {
  body {
    display: block;
    font-size: 80%;
  }
  p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
  }
}
