#img1 {
  position: absolute;
  width: 84rem;
  height: 45rem;
  top: 18rem;
  border-radius: 2.5rem;
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}
a {
  font-size: 5rem;
  height: 10.9375rem;
  width: 22.6875rem;
  left: 12.8125rem;
  top: 705px;
  border: 0.2rem solid;
  border-radius: 2rem;
  padding: 2rem;
  text-decoration: none;
  color: black;
  font-family: Wire One;
  background-color: #fbe8a3;
}
.button-container {
  margin-top: 30rem;
  display: flex;
  text-align: center;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: #fff0b9;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6rem;
}
.img {
  align-items: center;
  width: 75%;
  height: 25rem;
}
