html,
body,
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 62.5%;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  background-color: f4f1de;
}
#gallery {
  background-color: f4f1de;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6rem;
}
.buttons {
  margin-top: 3rem;
  text-align: center;
  font-size: 4rem;
}
